
NET "au<0>"  LOC = "P14" | IOSTANDARD = LVCMOS33 ; 
NET "au<1>"  LOC = "P15" | IOSTANDARD = LVCMOS33 ; 
NET "au<2>"  LOC = "P16" | IOSTANDARD = LVCMOS33 ; 
NET "au<3>"  LOC = "P17" | IOSTANDARD = LVCMOS33 ; 
NET "au<4>"  LOC = "P20" | IOSTANDARD = LVCMOS33 ; 
NET "clk"  LOC = "P128" | IOSTANDARD = LVCMOS33 |  CLOCK_DEDICATED_ROUTE = FALSE;
NET "cv<0>"  LOC = "P23" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "cv<1>"  LOC = "P25" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "cv<2>"  LOC = "P26" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "cv<3>"  LOC = "P29" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "cv<4>"  LOC = "P32" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "cv<5>"  LOC = "P33" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "cv<6>"  LOC = "P34" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "cv<7>"  LOC = "P35" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "res"  LOC = "P96" | IOSTANDARD = LVCMOS33  | PULLUP ; 
