#
#NET "au<0>"  LOC = "P91" | IOSTANDARD = LVCMOS33 ; 
#NET "au<1>"  LOC = "P92" | IOSTANDARD = LVCMOS33 ; 
#NET "au<2>"  LOC = "P94" | IOSTANDARD = LVCMOS33 ; 
#NET "au<3>"  LOC = "P95" | IOSTANDARD = LVCMOS33 ; 
#NET "au<4>"  LOC = "P98" | IOSTANDARD = LVCMOS33 ; 
NET "O_HSYNC"  LOC = "P95" | IOSTANDARD = LVCMOS33 ; 
NET "O_VSYNC"  LOC = "P94" | IOSTANDARD = LVCMOS33 ; 
#NET "clk"  LOC = "P89" | IOSTANDARD = LVCMOS33 |  CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk" LOC = "P89" | IOSTANDARD = LVCMOS33 | PERIOD = 31.25ns ;


#!Work!
#NET "cv<0>"  LOC = "P5" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<1>"  LOC = "P23" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<2>"  LOC = "P26" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<3>"  LOC = "P33" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<4>"  LOC = "P35" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<5>"  LOC = "P40" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<6>"  LOC = "P53" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<7>"  LOC = "P57" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ;
#NET "audio"  LOC = "P18" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ;

 
#NET "res"  LOC = "P96" | IOSTANDARD = LVCMOS33  | PULLUP ; 

#Saw something
#NET "cv<0>"  LOC = "P23" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<1>"  LOC = "P26" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<2>"  LOC = "P33" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<3>"  LOC = "P35" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<4>"  LOC = "P40" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<5>"  LOC = "P53" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<6>"  LOC = "P57" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<7>"  LOC = "P5" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 

#Sorta
#NET "clk" LOC = "P89" | IOSTANDARD = LVCMOS33 | PERIOD = 31.25ns ;
#NET "audio"  LOC = "P18" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<0>"  LOC = "P5" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<1>"  LOC = "P18" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<2>"  LOC = "P23" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<3>"  LOC = "P26" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<4>"  LOC = "P33" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<5>"  LOC = "P35" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<6>"  LOC = "P40" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
#NET "cv<7>"  LOC = "P53" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 

# original bits
NET O_VIDEO_R(3)                LOC = "P4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VIDEO_G(3)                LOC = "P61" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VIDEO_B(3)                LOC = "P71" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
# extra bits
NET O_VIDEO_B(2)                LOC = "P78"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
#NET O_VIDEO_B(1)                LOC = "P83"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
#NET O_VIDEO_B(0)                LOC = "P85"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
NET O_VIDEO_G(2)                LOC = "P63" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
NET O_VIDEO_G(1)                LOC = "P66" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
#NET O_VIDEO_G(0)                LOC = "P68" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
NET O_VIDEO_R(2)                LOC = "P3" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
NET O_VIDEO_R(1)                LOC = "P2" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
#NET O_VIDEO_R(0)                LOC = "P98" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
NET "audio"  LOC = "P84" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ;