# UCF file for the Papilio DUO A2600 board
CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

NET CLK            LOC="P94"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;               # CLK


NET LED(2)         LOC="P48"  | IOSTANDARD=LVTTL;                                # A4
NET LED(1)         LOC="P51"  | IOSTANDARD=LVTTL;                                # A5
NET LED(0)         LOC="P56"  | IOSTANDARD=LVTTL;                                # A6
#NET p_bs         LOC="P75"  | IOSTANDARD=LVTTL;                                # A7

NET res        LOC="P102"  | IOSTANDARD=LVTTL | PULLDOWN;                     # A11

#NET PS2DATB        LOC="P88"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A12
#NET PS2CLKB        LOC="P93"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A13

NET O_AUDIO_L      LOC="P88"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # A14
NET O_AUDIO_R      LOC="P85" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # A15

NET O_VIDEO_B(0)   LOC="P93"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B0
NET O_VIDEO_B(1)   LOC="P83"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B1
NET O_VIDEO_B(2)   LOC="P81"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B2
NET O_VIDEO_B(3)   LOC="P79"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B3
NET O_VIDEO_G(0)   LOC="P75"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B4
NET O_VIDEO_G(1)   LOC="P67"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B5
NET O_VIDEO_G(2)   LOC="P62"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B6
NET O_VIDEO_G(3)   LOC="P59"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B7
NET O_VSYNC        LOC="P97" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C2
NET O_HSYNC        LOC="P99" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C3
NET O_VIDEO_R(0)   LOC="P47" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C4
NET O_VIDEO_R(1)   LOC="P50" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C5
NET O_VIDEO_R(2)   LOC="P55" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C6
NET O_VIDEO_R(3)   LOC="P57" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C7

NET I_SW(0)        LOC="P111"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B8
NET p_s    		    LOC="P105"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B9
NET I_SW(2)        LOC="P101"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B10
NET I_SW(1)        LOC="P100"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B11

NET p_u				LOC="P134" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C8
NET p_a				LOC="P133" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C9
NET p_d				LOC="P132" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C10
NET p_l				LOC="P127" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C11
NET JOYSTICK_GND 	LOC="P123" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST ; # C12
# duo has gnd hardwired, this is mapped to pin 5 (fire 2 which should be safe...)

NET p_r 				LOC="P126" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C13

NET p2_u				LOC="P84"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B12
NET p2_a 			LOC="P82"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B13
NET p2_d				LOC="P87"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B14
NET p2_l				LOC="P92"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B15
NET JOYSTICK2_GND LOC="P98"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST ; # A0
# duo has gnd hardwired, this is mapped to pin 5 (fire 2 which should be safe...)
NET p2_r				 LOC="P95"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A1

NET PS2DAT1        LOC="P120" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C0
NET PS2CLK1        LOC="P121" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # C1




#NET FLASH_CS       LOC="PXX"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_CS
#NET FLASH_CK       LOC="PXX"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_CK
#NET FLASH_SI       LOC="PXX"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_SI
#NET FLASH_SO       LOC="PXX"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # FLASH_SO
