CONFIG PART = XC3S500E-FG320-4 ;

NET I_CLK_REF       TNM_NET = clk_ref_grp;
TIMESPEC TS01 = PERIOD : clk_ref_grp : 20.00 : PRIORITY 1;   # 50.00 MHz

TIMESPEC TS11=FROM:PADS:TO:FFS : 30 ns;
TIMESPEC TS12=FROM:FFS:TO:PADS : 30 ns;

# original bits
NET O_VIDEO_R(3)                LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VIDEO_G(3)                LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VIDEO_B(3)                LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
# extra bits
NET O_VIDEO_B(2)                LOC = "B4"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io1 fx2 pin6
NET O_VIDEO_B(1)                LOC = "D5"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io3 fx2 pin8
NET O_VIDEO_B(0)                LOC = "A6"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io5 fx2 pin10
NET O_VIDEO_G(2)                LOC = "A13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io21 fx2 pin26
NET O_VIDEO_G(1)                LOC = "A14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io23 fx2 pin28
NET O_VIDEO_G(0)                LOC = "C14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io25 fx2 pin30
NET O_VIDEO_R(2)                LOC = "A16" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io27 fx2 pin32
NET O_VIDEO_R(1)                LOC = "E13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io29 fx2 pin34
NET O_VIDEO_R(0)                LOC = "B11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io31 fx2 pin36

NET O_HSYNC                     LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VSYNC                     LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET I_SW(3)                     LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;
NET I_SW(2)                     LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET I_SW(1)                     LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET I_SW(0)                     LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;

NET "I_BUTTON(0)"               LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN ; # north
NET "I_BUTTON(2)"               LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ; # west
NET "I_BUTTON(3)"               LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ; # east
NET "I_BUTTON(1)"               LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ; # south

NET O_LED(3)                    LOC = "F11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_LED(2)                    LOC = "E11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_LED(1)                    LOC = "E12" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_LED(0)                    LOC = "F12" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET I_RESET                     LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ; # rot push button
NET I_CLK_REF                   LOC = "C9"  | IOSTANDARD = LVCMOS33;

NET O_AUDIO_L                   LOC = "F8"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET O_AUDIO_R                   LOC = "E8"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

#
# Strata Flash
#
NET "O_STRATAFLASH_OE_L"        LOC = "C18" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_CE_L"        LOC = "D16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_WE_L"        LOC = "D17" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
#
NET "O_STRATAFLASH_BYTE"        LOC = "C17" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
#
NET "O_STRATAFLASH_ADDR(0)"     LOC = "H17" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(1)"     LOC = "J13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(2)"     LOC = "J12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(3)"     LOC = "J14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(4)"     LOC = "J15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(5)"     LOC = "J16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(6)"     LOC = "J17" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(7)"     LOC = "K14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(8)"     LOC = "K15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(9)"     LOC = "K12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(10)"    LOC = "K13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(11)"    LOC = "L15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(12)"    LOC = "L16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(13)"    LOC = "T18" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(14)"    LOC = "R18" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(15)"    LOC = "T17" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(16)"    LOC = "U18" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(17)"    LOC = "T16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(18)"    LOC = "U15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(19)"    LOC = "V15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(20)"    LOC = "T12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(21)"    LOC = "V13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(22)"    LOC = "V12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "O_STRATAFLASH_ADDR(23)"    LOC = "N11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
#
NET "B_STRATAFLASH_DATA(0)"     LOC = "N10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "B_STRATAFLASH_DATA(1)"     LOC = "P10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "B_STRATAFLASH_DATA(2)"     LOC = "R10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "B_STRATAFLASH_DATA(3)"     LOC = "V9"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "B_STRATAFLASH_DATA(4)"     LOC = "U9"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "B_STRATAFLASH_DATA(5)"     LOC = "R9"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "B_STRATAFLASH_DATA(6)"     LOC = "M9"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "B_STRATAFLASH_DATA(7)"     LOC = "N9"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
#
# LCD display
# (Disable LCD display to ensure no contention with StratFlash memory).
#
NET "O_LCD_RW"                  LOC = "L17" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "O_LCD_E"                   LOC = "M18" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
#
# SPI devices
# (Disable to prevent contention with StratFlash memory data bit0).
#
NET "O_SPI_ROM_CS"              LOC = "U3"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "O_SPI_ADC_CONV"            LOC = "P11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "O_SPI_DAC_CS"              LOC = "N8"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
#
# Platform Flash memory
# (Disable to prevent contention with StratFlash memory data bit0).
#
NET "O_PLATFORMFLASH_OE"        LOC = "T3" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
#

