# Modified to run on the Papilio One
# 1/27/2010
# Jack Gassett - www.gadgetfactory.net

CONFIG PART = XC3S500E-VQ100-4 ;

#Before synthesizing please comment out the section you are not using.

##########Uncomment this section for the Papilio Arcade Kit ##########################################
# original bits
#NET O_VIDEO_R(3)                LOC = "P57" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET O_VIDEO_G(3)                LOC = "P53" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET O_VIDEO_B(3)                LOC = "P26" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
## extra bits
#NET O_VIDEO_B(2)                LOC = "P33"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io1 fx2 pin6
#NET O_VIDEO_B(1)                LOC = "P35"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io3 fx2 pin8
#NET O_VIDEO_B(0)                LOC = "P40"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io5 fx2 pin10
#NET O_VIDEO_G(2)                LOC = "P65" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io21 fx2 pin26
#NET O_VIDEO_G(1)                LOC = "P67" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io23 fx2 pin28
#NET O_VIDEO_G(0)                LOC = "P70" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io25 fx2 pin30
#NET O_VIDEO_R(2)                LOC = "P79" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io27 fx2 pin32
#NET O_VIDEO_R(1)                LOC = "P84" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io29 fx2 pin34
#NET O_VIDEO_R(0)                LOC = "P86" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io31 fx2 pin36
#
#NET O_HSYNC                     LOC = "P23" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET O_VSYNC                     LOC = "P18" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#
#NET I_SW(3)                     LOC = "P61" | IOSTANDARD = LVTTL | PULLDOWN;	#	Coin 1	PB1	B7
#NET I_SW(2)                     LOC = "P66" | IOSTANDARD = LVTTL | PULLDOWN;	#	Start 2	PB2	B5
#NET I_SW(1)                     LOC = "P94" | IOSTANDARD = LVTTL | PULLUP;	#	Start 1	Fire	C2
#NET I_SW(0)                     LOC = "P71" | IOSTANDARD = LVTTL | PULLUP;		#	NTSC/VGA
#
#NET "JOYSTICK_GND"              LOC = "P92"  | IOSTANDARD = LVTTL | PULLDOWN; # 	GND		C1 
#NET "I_BUTTON(0)"               LOC = "P4"  | IOSTANDARD = LVTTL | PULLUP ; # 	Forward	C7 
#NET "I_BUTTON(2)"               LOC = "P2" | IOSTANDARD = LVTTL | PULLUP ; # 	Left		C5
#NET "I_BUTTON(3)"               LOC = "P98" | IOSTANDARD = LVTTL | PULLUP ; # 	Right		C4
#NET "I_BUTTON(1)"               LOC = "P3" | IOSTANDARD = LVTTL | PULLUP ; # 	Back 		C6
#
#NET O_LED(3)                    LOC = "P16" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET O_LED(2)                    LOC = "P12" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET O_LED(1)                    LOC = "P10" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET O_LED(0)                    LOC = "P5" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#
#NET I_RESET                     LOC = "P22" | IOSTANDARD = LVTTL | PULLDOWN ; # rot push button
##NET I_CLK_REF                   LOC = "P89"  | IOSTANDARD = LVCMOS33;
#NET "bf_clock" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns ;
#
#NET O_AUDIO_L                   LOC = "P17"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;	#C15	- Audio Wing should be in CH
#NET O_AUDIO_R                   LOC = "P15"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;	#C13	- Audio Wing should be in CH
##########End of Section for Papilio Arcade Kit #####################################################

##########Uncomment this section for the Papilio Arcade MegaWing ##########################################
# original bits
NET O_VIDEO_R(3)                LOC = "P4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VIDEO_G(3)                LOC = "P61" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VIDEO_B(3)                LOC = "P71" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
# extra bits
NET O_VIDEO_B(2)                LOC = "P78"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io1 fx2 pin6
NET O_VIDEO_B(1)                LOC = "P83"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io3 fx2 pin8
NET O_VIDEO_B(0)                LOC = "P85"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io5 fx2 pin10
NET O_VIDEO_G(2)                LOC = "P63" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io21 fx2 pin26
NET O_VIDEO_G(1)                LOC = "P66" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io23 fx2 pin28
NET O_VIDEO_G(0)                LOC = "P68" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io25 fx2 pin30
NET O_VIDEO_R(2)                LOC = "P3" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io27 fx2 pin32
NET O_VIDEO_R(1)                LOC = "P2" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io29 fx2 pin34
NET O_VIDEO_R(0)                LOC = "P98" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; # io31 fx2 pin36

NET O_HSYNC                     LOC = "P95" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VSYNC                     LOC = "P94" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET I_SW(3)                     LOC = "P36" | IOSTANDARD = LVTTL | PULLDOWN;	#	Coin 1	PB1	B7
NET I_SW(2)                     LOC = "P9" | IOSTANDARD = LVTTL | PULLDOWN;	#	Start 2	PB2	B5
NET I_SW(1)                     LOC = "P32" | IOSTANDARD = LVTTL | PULLUP;	#	Start 1	Fire	C2
NET I_SW(0)                     LOC = "P58" | IOSTANDARD = LVTTL | PULLUP;		#	NTSC/VGA

NET "JOYSTICK_GND"              LOC = "P18"  | IOSTANDARD = LVTTL | PULLDOWN; # 	GND		C1 
#NET "JOYSTICK_TWO_GND"          LOC = "P12"  | IOSTANDARD = LVTTL | PULLDOWN; # 	GND		C1 

NET "I_BUTTON(0)"               LOC = "P34"  | IOSTANDARD = LVTTL | PULLUP ; # 	Forward	C7 
NET "I_BUTTON(2)"               LOC = "P22" | IOSTANDARD = LVTTL | PULLUP ; # 	Left		C5
NET "I_BUTTON(3)"               LOC = "P23" | IOSTANDARD = LVTTL | PULLUP ; # 	Right		C4
NET "I_BUTTON(1)"               LOC = "P25" | IOSTANDARD = LVTTL | PULLUP ; # 	Back 		C6

#NET "I_BUTTON(4)"               LOC = "P5"  | IOSTANDARD = LVTTL | PULLUP ; # 	Forward	C7 
#NET "I_BUTTON(6)"               LOC = "P11" | IOSTANDARD = LVTTL | PULLUP ; # 	Left		C5
#NET "I_BUTTON(7)"               LOC = "P15" | IOSTANDARD = LVTTL | PULLUP ; # 	Right		C4
#NET "I_BUTTON(5)"               LOC = "P10" | IOSTANDARD = LVTTL | PULLUP ; # 	Back 		C6

NET O_LED(3)                    LOC = "P35" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_LED(2)                    LOC = "P40" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_LED(1)                    LOC = "P53" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_LED(0)                    LOC = "P57" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET I_RESET                     LOC = "P67" | IOSTANDARD = LVTTL | PULLDOWN ; # rot push button
#NET I_CLK_REF                   LOC = "P89"  | IOSTANDARD = LVCMOS33;
NET "bf_clock" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns ;

NET O_AUDIO_L                   LOC = "P84"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;	#C15	- Audio Wing should be in CH
NET O_AUDIO_R                   LOC = "P86"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;	#C13	- Audio Wing should be in CH
##########End of Section for Papilio Arcade MegaWing ###############################################