NET "a[0]" LOC = P134;
NET "a[10]" LOC = P3;
NET "a[11]" LOC = P106;
NET "a[12]" LOC = P122;
NET "a[13]" LOC = P103;
NET "a[14]" LOC = P98;
NET "a[15]" LOC = P117;
NET "a[16]" LOC = P116;
NET "a[17]" LOC = P97;
NET "a[18]" LOC = P113;
NET "a[1]" LOC = P132;
NET "a[2]" LOC = P131;
NET "a[3]" LOC = P130;
NET "a[4]" LOC = P126;
NET "a[5]" LOC = P125;
NET "a[6]" LOC = P124;
NET "a[7]" LOC = P123;
NET "a[8]" LOC = P104;
NET "a[9]" LOC = P105;
NET "d[0]" LOC = P135;
NET "d[1]" LOC = P139;
NET "d[2]" LOC = P140;
NET "d[3]" LOC = P142;
NET "d[4]" LOC = P8;
NET "d[5]" LOC = P7;
NET "d[6]" LOC = P5;
NET "d[7]" LOC = P4;
NET "oe" LOC = P2;
NET "we" LOC = P112;

NET "a[0]" IOSTANDARD = LVCMOS33;
NET "a[10]" IOSTANDARD = LVCMOS33;
NET "a[11]" IOSTANDARD = LVCMOS33;
NET "a[12]" IOSTANDARD = LVCMOS33;
NET "a[13]" IOSTANDARD = LVCMOS33;
NET "a[14]" IOSTANDARD = LVCMOS33;
NET "a[15]" IOSTANDARD = LVCMOS33;
NET "a[16]" IOSTANDARD = LVCMOS33;
NET "a[17]" IOSTANDARD = LVCMOS33;
NET "a[18]" IOSTANDARD = LVCMOS33;
NET "a[1]" IOSTANDARD = LVCMOS33;
NET "a[2]" IOSTANDARD = LVCMOS33;
NET "a[3]" IOSTANDARD = LVCMOS33;
NET "a[4]" IOSTANDARD = LVCMOS33;
NET "a[5]" IOSTANDARD = LVCMOS33;
NET "a[6]" IOSTANDARD = LVCMOS33;
NET "a[7]" IOSTANDARD = LVCMOS33;
NET "a[8]" IOSTANDARD = LVCMOS33;
NET "a[9]" IOSTANDARD = LVCMOS33;
NET "d[0]" IOSTANDARD = LVCMOS33;
NET "d[1]" IOSTANDARD = LVCMOS33;
NET "d[2]" IOSTANDARD = LVCMOS33;
NET "d[3]" IOSTANDARD = LVCMOS33;
NET "d[4]" IOSTANDARD = LVCMOS33;
NET "d[5]" IOSTANDARD = LVCMOS33;
NET "d[6]" IOSTANDARD = LVCMOS33;
NET "d[7]" IOSTANDARD = LVCMOS33;
NET "oe" IOSTANDARD = LVCMOS33;
NET "we" IOSTANDARD = LVCMOS33;

NET "dbg<0>"  LOC = "P23" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "dbg<1>"  LOC = "P25" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "dbg<2>"  LOC = "P26" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "dbg<3>"  LOC = "P29" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "dbg<4>"  LOC = "P32" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "dbg<5>"  LOC = "P33" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "dbg<6>"  LOC = "P34" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
NET "dbg<7>"  LOC = "P35" | IOSTANDARD = LVCMOS33  | DRIVE = 4 ; 
